* {
    text-align: center;
}
.title_c {
    text-align: center;
}

.view {
    text-align: center;
}
ul {
    list-style: none;
}

main{
background-color: pink;


}

/* modificar cor dos botões quando clicar cor e seta*/
  /*  testar com color
     input:valid{
        background-color: antiquewhite;
    }

    input:invalid{
        background-color: white;
    } */
.button {
     text-align: center;
     cursor: pointer;
    }    