body{
    /* coloca espaços */
    padding:0px;
    margin: 0px;
    background-color: rgb(207, 183, 230);
}

#login{
    display: flex;
    align-items: center;
    justify-content: center;
    /* hv acompanha diferecionamento da tela */
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
.card{
    /* alpha (ultimo elemento) é opacidade */
    background-color: rgba(20, 19, 19, 0.466);
    padding: 40px;
    border-radius: 20px;
    width: 280px;
}
.card-header{
    padding-bottom: 30px;
    color: #fff;
}

.card-content label{
    color: rgba(0, 0, 0, 0.705);
    font-size: 20px;
}

.card-content-area input {
    color: #ffffff;
}
.card-content input{
    margin-top: 10px;
    padding: 0, 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
}
.card-content-area{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.card-footer{
    display: flex;
    flex-direction: column;
}

.card-footer .submit{
    /*Largura */
    width: 100%;
    /*Altura*/
    height: 40px;
    background-color: rgb(126, 0, 122);
    /*remover as bordas */
    border: none;
    color:#e1e1e1;
    text-transform: uppercase;
    margin:10px 0px;
    cursor: pointer;
}
   /*  NÃO FUNCIONA
   box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s; 
}

.card-footer .button_slide_left{
        box-shadow: inset 0 0 0 50px #D80286;
}

#outer {
    width: 364px;
    margin: 50px auto 0 auto;
    text-align: center;
  }
 */
.card-footer a{
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.8;
    color:#fff;
    text-decoration: none; 
    margin-top: 10px;
}